<!-- Toolbar -->
<div class="wrapper">
  <div class="input-wrapper">
    <label for="pwd">Check password strength:</label>
    <input
      type="password"
      placeholder="Enter your password here"
      #box
      (keyup)="onKey(box.value)"
    />
  </div>

  <div class="blocks">
    <div
      class="block"
      [class.short]="strength === 'short'"
      [class.easy]="strength === 'easy'"
      [class.medium]="strength === 'medium'"
      [class.strong]="strength === 'strong'"
    ></div>
    <div
      class="block"
      [class.short]="strength === 'short'"
      [class.medium]="strength === 'medium'"
      [class.strong]="strength === 'strong'"
    ></div>
    <div
      class="block"
      [class.short]="strength === 'short'"
      [class.strong]="strength === 'strong'"
    ></div>
  </div>
</div>
